{% extends "::base.html.twig" %}

{% block title %}OpenScienceBundle:EndGame:first{% endblock %}

{% block body %}
<h1>Welcome to the EndGame:first page</h1>
{{ dump(motsSel) }}
<form action="{{ url("second") }}" method="Post">
  {{ motsSel[0] }} -- noter les char a enlever:<br>
  <input type="text" name="motA" id="motA" value="">
  <br>
  {{ motsSel[1] }} -- noter les char a enlever:<br>
  <input type="text" name="motB" id="motB" value="">
  <br>
  {{ motsSel[2] }} -- noter les char a enlever:<br>
  <input type="text" name="motC" id="motC" value="">
  <br>
  {{ motsSel[3] }} -- noter les char a enlever:<br>
  <input type="text" name="motD" id="motD" value="">
  <br>
  {{ motsSel[4] }} -- noter les char a enlever:<br>
  <input type="text" name="motE" id="motE" value="">
  <br><br>
  <input type="hidden" name="id" id="id" value="{{ id }}">
  <input type="submit" value="Submit">
</form> 
{% endblock %}
