{% extends "::base.html.twig" %}

{% block title %}OpenScienceBundle:EndGame:second{% endblock %}

{% block body %}
<h1>Welcome to the EndGame:second page</h1>
{{ dump(sav) }}
<form action="{{ url("third") }}" method="Post">
  {{ mots[0] }} // def : {{ def[0] }} -- noter le mot: <br>
  <input type="text" name="motA" id="motA" value="">
  <br>
  {{ mots[1] }} // def : {{ def[1] }} -- noter le mot:<br>
  <input type="text" name="motB" id="motB" value="">
  <br>
  {{ mots[2] }} // def : {{ def[2] }} -- noter le mot:<br>
  <input type="text" name="motC" id="motC" value="">
  <br>
  {{ mots[3] }} // def : {{ def[3] }} -- noter le mot:<br>
  <input type="text" name="motD" id="motD" value="">
  <br>
  {{ mots[4] }} // def : {{ def[4] }} -- noter le mot:<br>
  <input type="text" name="motE" id="motE" value="">
  <br><br>
  <input type="hidden" name="id" id="id" value="{{ id }}">
  <input type="submit" value="Submit">
</form> 
{% endblock %}
